
html,
body {
    min-height: 100%;
}

html {
    background: var(--color-bg);
}

body {
    min-height: 100vh;
    margin: 0;

    background-color: var(--color-bg);
    background-image: var(--gradient-application);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 1200px;

    color: var(--color-text);
    font-family: var(--font-family);
}
 